@import url("/css/photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

p {
    margin: 2px 0;
}
  
.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer-section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer-section article img {
    height: 200px;
    width: 200px;
}

.photographer-link {
    text-align: center;
  }
  
.photographer-name {
    margin: 10px 0 2px;
  }
  
.photographer-portrait {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  
.photographer-country {
    font-size: 13px;
    color: #901c1c;
    margin: 2px 0;
  }
  
.photographer-tagline {
    font-size: 10px;
  }
  
.photographer-price {
    font-size: 9px;
    color: #757575;
  }

.image-lightbox {
    width: 300px;
    height: 300px;
}

#lightbox {
    display: none;
    position: fixed;
    width: 1150px;
    top: 4%;
    right: 13%;
    z-index: 1;
  }
  
  .lightbox-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;

  }
  .lightbox-image p {
    color: #901C1C;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .image-lightbox {
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 5px;
    width: 700px;
    height: 650px;
  }
  
  .image-lightbox-title {
    font-size: 20px;
    color: #901c1c;
  }
  
  #lightbox button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .close {
    position: absolute;
    right: 40px;
    color: #901c1c;
  }

  .fa-solid {
    font-weight: 900;
    color: #901C1C
  }

  
  .lightbox-right {
    position: absolute;
    right: 40px;
    top: 50%;
  }
  
  .lightbox-left {
    position: absolute;
    top: 50%;
    left: 40px;
  }

  .photograph-filter {
    margin: 30px 100px;
}

.photograph-filter label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

#filter {
    background-color: #901c1c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
}

.filter-option {
    background-color: #901c1c;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.photograph-likes {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 270px;
    background-color: #db8876;
    width: 376px;
    height: 60px;
    border-radius: 5px 5px 0 0;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}